.logoheader {
  position: relative;
  top: 65px;
  width: 1260px;
  margin: 0 auto;

  .text {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 92px;
    top: 50px;
  }
}
