.sideBar {
  width: 300px;
  float: right;
  padding-left: 80px;
  margin-top: 40px;

  .sideBarText {
    border-bottom: 3px solid #484848;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 14px;
    padding-bottom: 6px;
    line-height: 27px;
    font-weight: bold;
  }
  .joinButton {
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    height: 43px;
    line-height: 43px;
    padding: 0 40px;
    display: inline-block;
    background: #f0f0f0;
  }
  .joinButton:hover {
    color: rgb(102, 102, 102);
    cursor: pointer;
  }
}
