.topText {
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-size: 14.9px;
  line-height: 36px;
  font-weight: 700;
  padding: 9px;
  text-transform: uppercase;
}
.top {
  content: "";
  position: relative;
  top: 105px;
  width: 1260px;
  height: 45px;
  margin: 0 auto;
  opacity: 0.7;
  background-color: #291d02;
  padding: 13px 40px 0;
}
.headLink {
  text-decoration: none;
  padding-inline: 10px;
}
