.post {
  /* background-color: red; */
  width: 863px;
  margin-top: 40px;
}

.avatar {
  width: 50px;
  height: 50px;
}

.nickname {
  font-weight: bold;
  color: #282828;
  font-size: 14px;
  margin-inline: 5px;
}
.nickname:hover {
  text-decoration: none;
}

.avatarNickname {
  display: flex;
  align-items: center;
}

.tags {
  margin-top: 20px;
  width: 863px;
}

.tag {
  font-weight: bold;
  color: #6c6c6c;
  font-size: 14px;
  margin-right: 20px;
}

.tag:hover {
  text-decoration: none;
}

.image {
  padding-top: 15px;
  padding-bottom: 15px;
}

.comments {
  font-weight: bold;
  line-height: 38px !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 24px 0 20px;
  display: inline-block;
  position: relative;
  border: 2px solid #fdb201;
  border-radius: 21px;
  background: #fdb201;
  margin-right: 60px;
}
.comments:hover {
  border: 2px solid #ffcc54;
  background: #ffcc54;
  cursor: pointer;
}

.time {
  margin-right: 60px;
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratingText {
  font-size: 32px;
  margin-right: 5px;
  color: #383838;
}

.upvote:hover {
  background: rgb(0, 255, 0);
  border-radius: 50px;
}

.downvote:hover {
  background: rgb(255, 152, 152);
  border-radius: 50px;
}
