body {
  background-color: #fecc65;
  background-image: url("./img/background.jpg");
  background-repeat: repeat-x;
  font-family: "Open Sans", Sans-serif;
  /* background-size: cover; */
  margin: 0;
}
